<!DOCTYPE html>
<html lang="en">
<head>
	<title>IASA</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>

	<!-- Header section  -->
	<nav class="nav-section">
		<div class="container wrapper">
			<img src="http://iasa.kpi.ua/++resource++mmsa.department.images/logo.png" alt="">
			<ul class="main-menu">
				<li><a href="../index.html">Головна</a></li>
				<li class="active"><a href="entry.html">Вступ</a></li>
				<li><a href="about.html">Про нас</a></li>
				<li><a href="studying-proccess.html">Навчальний процес</a></li>
				<li><a href="science.html">Наука</a></li>
			</ul>
			<div class="nav-right">
				<a href=""><i class="fa fa-search"></i></a>
			</div>
		</div>
	</nav>
	<!-- Header section end -->



	<!-- Services section -->
	<section class="service-section spad">
		<div class="container services">
			<div class="section-title text-center">
				<h3>Вступ</h3>
			</div>
			<div class="row">
				<div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="../img/services-icons/2.png" alt="1">
					</div>
					<div class="service-content">
						<h4><a href="first.html">Перший курс</a></h4>
						<p>Текст</p>
						<!-- <ul>
							<li><a href="">Системний аналіз і управління;</a></li>
							<li><a href="">Системний аналіз фінансового ринку.</a></li>
						</ul> -->
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="../img/services-icons/3.png" alt="1">
					</div>
					<div class="service-content">
						<h4><a href="fifth.html">П'ятий курс</a></h4>
						<p>Текст</p>
						<!-- <ul>
							<li><a href="">Системний аналіз і управління;</a></li>
							<li><a href="">Системний аналіз фінансового ринку.</a></li>
						</ul> -->
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="../img/services-icons/3.png" alt="1">
					</div>
					<div class="service-content">
						<h4><a href="second.html">Друга вища</a></h4>
						<p>Текст</p>
						<ul>
							<li><a href="">Спеціальність 1;</a></li>
							<li><a href="">Спеціальність 2.</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="../img/services-icons/1.png" alt="1">
					</div>
					<div class="service-content">
						<h4><a href="committee.html">Координати та структура відбіркової комісії</a></h4>
						<p>План підготовки до вступу в ВНЗ абітурієнтів передбачає як аудиторні заняття, так і перевірку знань за допомогою рейтингових заходів.</p>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="../img/services-icons/1.png" alt="1">
					</div>
					<div class="service-content">
						<h4><a href="committee.html">PhD</a></h4>
						<p></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Services section end -->


	<!-- Footer section -->
	<footer class="footer-section">
		<div class="copyright">
			<div class="container">
				<p>Copyright All rights reserved | This template is made with IASA</p>
			</div>		
		</div>
	</footer>
	<!-- Footer section end-->

</body>
</html>