<!DOCTYPE html>
<html lang="en">
<head>
	<title>IASA</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../css/main.css">

</head>
<body>

<!-- Header section  -->
	<nav class="nav-section">
		<div class="container wrapper">
			<img src="http://iasa.kpi.ua/++resource++mmsa.department.images/logo.png" alt="">
			<div id="container">
			    <nav>
			        <ul>
			            <li><a href="../index.html">Головна</a></li>
			            <li><a href="coordinats.html">Наши координати</a>
				            <ul>
				                <li><a href="http://cad.kpi.ua/">СП</a></li>
				                <li><a href="http://mmsa.kpi.ua/">ММСА</a></li>
				                <li><a href="#">Научная часть</a></li>
				                <li><a href="#">Отборочная комиссия</a></li>
				                <li><a href="#">Второе высшее</a></li>
				                <li><a href="#">Аспирантура</a></li>
				            </ul>        
			            </li>
			            <li><a href="entry.html">Вступ</a>
				            <ul>
				                <li><a href="first.html">1 курс</a>
				                	<ul>
						                <li><a href="#">Правила вступу</a></li>
						                <li><a href="#">Огляд</a></li>
						                <li><a href="#">Вартість навчання</a></li>
						                <li><a href="#">Працевлаштування</a></li>
						                <li><a href="#">ФДП</a></li>
						            </ul>
				                </li>
				                <li><a href="fifth.html">5 курс</a>
				                	<ul>
						                <li><a href="#">Правила вступу</a></li>
						                <li><a href="#">Огляд</a></li>
						                <li><a href="#">Вартість навчання</a></li>
						                <li><a href="#">Працевлаштування</a></li>
						                <li><a href="#">Міжнародня мобільність</a></li>
						            </ul>
				                </li>
				                <li><a href="second.html">Друга вища</a>
				                	<ul>
						                <li><a href="#">Сайти кафедр</a></li>
						                <li><a href="#">Правила вступу</a></li>
						                <li><a href="#">Вартість навчання</a></li>
						                <li><a href="#">Працевлаштування</a></li>
						            </ul>
				                </li>
				                <li><a href="#">PhD</a></li>
				            </ul>        
			            </li>
			            <li><a href="about.html">Про нас</a>
			            	<ul>
				                <li><a href="#">Історична справка</a></li>
				                <li><a href="#">Кафедри</a></li>
				                <li><a href="#">Наука</a></li>
				                <li><a href="#">Друга вища освіта</a></li>
				                <li><a href="#">SAIT</a></li>
				                <li><a href="#">Студрада</a></li>
				            </ul>
			            </li>
			            <li><a href="studying-proccess.html">Навчальний процес</a>
			            	<ul>
				                <li><a href="#">Процесс</a></li>
				                <li><a href="#">Новини</a></li>
				                <li><a href="#">Аспірантура</a></li>
				            </ul>
			            </li>
			            <li><a href="science.html">Наука</a>
			            	<ul>
				                <li><a href="#">Адміністрація</a></li>
				                <li><a href="#">Відділи</a></li>
				                <li><a href="#">Журнал</a></li>
				                <li><a href="#">Семінари/Конференції</a></li>
				                <li><a href="#">Аспірантура</a></li>
				            </ul>
			            </li>
			        </ul>
			    </nav>
			</div>
			<!-- <ul class="main-menu">
				<li class="active main"><a href="#"></a>
					<ul class="internal-menu">
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</li>
				<li class="coordinats"><a href="partials/science.html">Наши координаты</a></li>
				<li class="entry"><a href="partials/entry.html">Вступ</a></li>
				<li class="about"><a href="partials/about.html">Про нас</a></li>
				<li class="studying"><a href="partials/studying-proccess.html">Навчальний процес</a></li>
				<li class="science"><a href="partials/science.html">Наука</a></li>
			</ul> -->
			<div class="nav-right">
				<a href=""><i class="fa fa-search"></i></a>
			</div>
		</div>
	</nav>
	<!-- Header section end -->



	<!-- Services section -->
	<section class="service-section spad">
		<div class="container services">
			<div class="section-title text-center">
				<h3>Наука</h3>
			</div>
			<div class="row">
				<div class="col-lg-12 col-sm-12 service-item">
					<div class="service-content">
						<h4><a href="#">Адміністрація</a></h4>
					</div>
				</div>
				<div class="col-lg-12 col-sm-12 service-item">
					<div class="service-content">
						<h4><a href="#">Відділи</a></h4>
						<p>Text</p>
					</div>
				</div>
				<div class="col-lg-12 col-sm-12 service-item">
					<div class="service-content">
						<h4><a href="#">Журнал</a></h4>
						<p>Text</p>
					</div>
				</div>
				<div class="col-lg-12 col-sm-12 service-item">
					<div class="service-content">
						<h4><a href="#">Семінари/Конференції</a></h4>
						<p>Text</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Services section end -->

	<!-- Footer section -->
	<footer class="footer-section">
		<div class="copyright">
			<div class="container">
				<p>Copyright All rights reserved | This template is made with IASA</p>
			</div>		
		</div>
	</footer>
	<!-- Footer section end-->

</body>
</html>