<!DOCTYPE html>
<html lang="en">
<head>
	<title>IASA</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../css/main.css">


</head>
<body>
	<!-- Header section  -->
	<nav class="nav-section">
		<div class="container wrapper">
			<img src="http://iasa.kpi.ua/++resource++mmsa.department.images/logo.png" alt="">
			<ul class="main-menu">
				<li><a href="../index.html">Головна</a></li>
				<li><a href="entry.html">Вступ</a></li>
				<li><a href="about.html">Про нас</a></li>
				<li class="active"><a href="#">Навчальний процес</a></li>
				<li><a href="science.html">Наука</a></li>
			</ul>
			<div class="nav-right">
				<a href=""><i class="fa fa-search"></i></a>
			</div>
		</div>
	</nav>
	<!-- Header section end -->

			<!-- Services section -->
			<section class="service-section spad">
				<div class="container services">
					<div class="section-title text-center">
						<h3>Навчальний процес</h3>
					</div>
					<div class="row">
						<div class="col-lg-4 col-sm-6 service-item">
							<div class="service-icon">
								<img src="../img/services-icons/1.png" alt="1">
							</div>
							<div class="service-content">
								<h4><a href="">Адміністрація/деканат</a></h4>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6 service-item">
							<div class="service-icon">
								<img src="../img/services-icons/1.png" alt="1">
							</div>
							<div class="service-content">
								<h4><a href="">Посилання на навчальні програми кафедр</a></h4>
								<ul>
									<li>Кафедра ММСА</li>
									<li>Кафедра СП</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6 service-item">
							<div class="service-icon">
								<img src="../img/services-icons/1.png" alt="1">
							</div>
							<div class="service-content">
								<h4><a href="">Семінари/конференції</a></h4>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Services section end -->

		<!-- Blog section -->
		<section class="blog-section spad">
			<div class="container">
				<div class="section-title text-center">
					<h3>Новини</h3>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="blog-item">
							<div class="blog-thumb set-bg" style="background-image: url(../img/blog/1.jpg);"></div>
							<div class="blog-content">
								<h4><a href="#">Новина 1</a></h4>
								<div class="blog-meta">
									<span><i class="fa fa-calendar-o"></i> 19 Mar 2019</span>
									<span><i class="fa fa-user"></i> Автор</span>
								</div>
								<p>Текст новини</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="blog-item">
							<div class="blog-thumb set-bg" style="background-image: url(../img/blog/1.jpg);"></div>
							<div class="blog-content">
								<h4><a href="#">Новина 2</a></h4>
								<div class="blog-meta">
									<span><i class="fa fa-calendar-o"></i>19 Mar 2019</span>
									<span><i class="fa fa-user"></i> Автор</span>
								</div>
								<p>Текст новини</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="blog-item">
							<div class="blog-thumb set-bg" style="background-image: url(../img/blog/1.jpg);"></div>
							<div class="blog-content">
								<h4><a href="#">Новина 3</a></h4>
								<div class="blog-meta">
									<span><i class="fa fa-calendar-o"></i>19 Mar 2019</span>
									<span><i class="fa fa-user"></i> Автор</span>
								</div>
								<p>Текст новини</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="blog-item">
							<div class="blog-thumb set-bg" style="background-image: url(../img/blog/1.jpg);"></div>
							<div class="blog-content">
								<h4><a href="#">Новина 4</a></h4>
								<div class="blog-meta">
									<span><i class="fa fa-calendar-o"></i>19 Mar 2019</span>
									<span><i class="fa fa-user"></i> Автор</span>
								</div>
								<p>Текст новини</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Blog section -->

	<!-- Footer section -->
	<footer class="footer-section">
		<div class="copyright">
			<div class="container">
				<p>Copyright All rights reserved | This template is made with IASA</p>
			</div>		
		</div>
	</footer>
	<!-- Footer section end-->

</body>
</html>